html {}

:root {
	--chocColor: #4d3719;
}

@font-face {
	font-family: rotterdalle;
	src: url("res/rotterdalle.ttf");
}

@font-face {
	font-family: varelaround;
	src: url("res/VarelaRound-Regular.ttf")
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--chocColor);
	font-family: varelaround;
	overflow: hidden;
}

#corner {
	position: absolute;
	right: 0;
	bottom: 0;
}

.square {
	position: absolute;
	z-index: -1;
}

header {
	margin: 0 auto;
	width: 50%;
	overflow: hidden;
}

header ul {
	display: block;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
}

header ul li {
	float: left;
}

header ul li a {
	display: inline-block;
	padding: 1em;
	color: white;
	font-family: rotterdalle;
	font-size: 150%;
	text-decoration: none;

}

header ul li a:hover {
	transition: color 1s ease-in-out;
	color: yellow;
}

main {
	margin: 0 auto;
	width: 40%;
	color: white;
}

footer {
	margin-top: 5em;
	color: white;
	position: absolute;
	bottom: 0;
	margin-left: 20%;
}

footer td {
	padding: 1em;
}

footer a {
	color: inherit;
}
